<div class = "container">
  <h1><%= t "admin.order.orders" %></h1>

  <table class = "table">
    <thead>
      <tr>
        <th><%= t "admin.order.id" %></th>
        <th><%= t "admin.order.customer" %></th>
        <th><%= t "admin.order.date" %></th>
        <th><%= t "admin.order.amount" %></th>
        <th><%= t "admin.order.status" %></th>
        <th><%= t "admin.order.action" %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @orders.includes([:user]) %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
