<div style="padding: 15px 0px">
  <div class = "container">
    <div class="card">
      <div class="row">
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-info">
              <div class="card-header">
                <h5><%= t "admin.order.pending" %></h5>
              </div>
              <div class="card-body">
                <h3><%= @orders.Pending.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-primary">
              <div class="card-header"><h5><%= t "admin.order.shipping" %></h5></div>
              <div class="card-body">
                <h3><%= @orders.Shipping.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-success">
              <div class="card-header"><h5><%= t "admin.order.delivered" %></h5></div>
              <div class="card-body">
                <h3><%= @orders.Delivered.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-warning">
              <div class="card-header"><h5><%= t "admin.order.canceled" %></h5></div>
              <div class="card-body">
                <h3><%= @orders.Canceled.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card">
            <div class="card text-white bg-danger">
              <div class="card-header"><h5><%= t "admin.order.rejected" %></h5></div>
              <div class="card-body">
                <h3><%= @orders.Rejected.size %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

    <div class="card">
      <div class="card-header">
        <h1><%= t "admin.order.orders" %></h1>
      </div>
      <div class="card-body">
        <table class = "table table-striped">
          <thead>
            <tr>
              <th><%= t "admin.order.id" %></th>
              <th><%= t "admin.order.customer" %></th>
              <th><%= t "admin.order.date" %></th>
              <th><%= t "admin.order.amount" %></th>
              <th><%= t "admin.order.status" %></th>
              <th><%= t "admin.order.action" %></th>
            </tr>
          </thead>

          <tbody>
            <%= render @orders.includes([:user]) %>
          </tbody>
        </table>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
</div>
