<table class="table table-bordered mt-6">
  <thead>
    <tr>
      <th scope="col"><%= t"static_pages.order_id" %></th>
      <th scope="col"><%= t"static_pages.amount" %></th>
      <th scope="col"><%= t"static_pages.status" %></th>
      <th scope="col"><%= t"static_pages.action" %></th>
    </tr>
  </thead>
<%= render @orders %>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
