<div class="basket-product">
  <div class="item">
    <div class="product-image">
      <%= image_tag product.product_images.first&.image if product.product_images.first&.image %>
    </div>
    <div class="product-details">
      <p><strong><%= product.name %></strong></p>
    </div>
  </div>
  <div class="price"> <%= number_to_currency product.price, negative_format: "(%u%n)" %></div>
  <div class="main-product-number">
    <%= form_with url: cart_path(id: product.id), method: :put, remote: true do |f| %>
      <%= f.number_field :quantily, value: current_cart["#{product.id}"],
        max: product.quantity_in_stock, min: "0", class: "form-control form-control-sm ", id: "form1" %>
      <div class="subtotal"><%= number_to_currency total_price_product(product.id), negative_format: "(%u%n)" %></div>
      <div class="remove">
        <%= f.button type: :submit do %>
          <%= t ".update"%>
        <% end %>
        <%= link_to cart_path(id: product.id), method: :delete, class: "text-muted",
      data: {confirm: t(".confirm_delete")} do %>
          <button><%= t ".delete" %></button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
