<tr>
  <td><%= category.name %></td>
  <td><%= category.parent_id %></td>
  <td><%= link_to icon("fa regular", "eye"), admin_category_path(category) %>
  <%= link_to icon("fa regular", "pen-to-square"), edit_admin_category_path(category), style: "padding: 10px" %>
  <%= link_to icon("fa regular", "trash"), admin_category_path(category), method: :delete, data: { confirm: t("admin.category.you_sure") }%>
  </td>
</tr>
