<div class = "container">
  <h1><%= t "admin.category.categories" %></h1>

  <table class = "table">
    <thead>
      <tr>
        <th><%= t "admin.category.name" %></th>
        <th><%= t "admin.category.parent" %></th>
        <th><%= t "admin.category.content" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories.includes([:category]) %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
  <br>

  <%= link_to t("admin.category.new_category"), new_admin_category_path %>
</div>
