<%= form_for [:admin, @product], :html=> {:multipart => true} do |f| %>
  <div class="row">
    <div class="column">
      <div class="form-outline mb-4">
        <%= f.label :name, class:"form-label"%>
          <%= f.text_field :name, type: "text" , id: "form4Example1" , class: "form-control" %>
      </div>

      <div class="form-outline mb-4">
        <%= f.label :price, class:"form-label"%>
          <%= f.text_field :price, type: "text" , id: "form4Example1" , class: "form-control" %>
      </div>

      <div class="form-outline mb-4">
        <%= f.label :quantity_in_stock, class:"form-label"%>
        <%= f.text_field :quantity_in_stock, type: "text" , id: "form4Example1" , class: "form-control" %>
      </div>

      <div class="form-outline mb-4">
        <%= f.label t("admin.category.parent"), class: "control-label" %>
          <div class="control-group">
            <%= f.select(:category_id, in_category(@categories)) %>
          </div>
      </div>
    </div>
    <div class="column">
      <div class="form-outline mb-4">
        <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" , id: "form4Example3" , rows: "2" %>
      </div>

      <div class="form-outline mb-4">
        <div>
          <%= f.fields_for :product_images do |pimg| %>
            <%= render "product_image_fields" , f: pimg %>
          <% end %>
          <div class="links">
            <%= link_to_add_association t("add_image") , f, :product_images,
              class: "btn btn-outline-success" %>
          </div>
        </div>
      </div>
      <%= f.submit t("submit"), class: "btn btn-primary btn-block mb-4" %>
    </div>
  </div>
<% end %>
