<div style="padding: 15px 0px">
  <div class = "container">
    <div class="card">
      <div class="card-header">
        <h1><%= t "admin.product.products" %></h1>
      </div>
      <div class="card-body">
        <%= render "search_form" %>
        <table class = "table table-striped">

          <thead>
            <tr>
              <th><%= t "admin.product.name" %></th>
              <th><%= t "admin.product.price" %></th>
              <th><%= t "admin.product.quantity_in_stock" %></th>
              <th><%= t "admin.product.category" %></th>
              <th><%= t "admin.category.content" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @products %>
          </tbody>
        </table>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>
