<div style="padding: 15px 0px">
  <div class="container">
    <div class="card mb-3">
      <div class="card-header" style="background: none">
        <h2>
          <%= t "admin.user.customer_month" %><i class="fa-solid fa-star fa-beat"
              style="color: #dc3545; padding: 0px 7px"></i>
        </h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="card text-white bg-danger mb-3">
              <%= render "user_card" , user: @best %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card text-white bg-success mb-3">
              <div class="card-body">
                <h5 class="card-title">
                  <%= t "admin.user.sum_order" %>
                  <%= @best.orders.count %>
                </h5>
                <p class="card-text">
                  <%= count_pending(@best.orders) %>
                </p>
                <p>
                  <%= count_shipping(@best.orders) %>
                </p>
                <%= link_to icon("fa regular", "eye" ), admin_user_path(@best), style: "color: white" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>
      <%= t "admin.user.users" %>
    </h1>
    <table class="table">
      <thead>
        <tr>
          <th><%= t "admin.user.name_col" %></th>
          <th class="align_column">
            <%= t "admin.user.order" %>
          </th>
          <th><%= t "admin.user.latest_feedback" %></th>
          <th class="align_column">
            <%= t "admin.user.details" %>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
      <br>
  </div>
</div>
