<div class="col-md-4 product-men">
  <div class="men-pro-item simpleCart_shelfItem">
    <div class="men-thumb-item">
      <%= image_tag product.images.first&.image if product.images.first&.image %>
      <div class="men-cart-pro">
        <div class="inner-men-cart-pro">
          <%= link_to t("quick_view"), "#", class: "link-product-add-cart" %>
        </div>
      </div>
    </div>
    <div class="item-info-product">
      <h4>
        <%= link_to product.name, product_path(product.id) %>
      </h4>
      <div class="info-product-price">
        <span class="item_price">
          <%= number_to_currency product.price, negative_format: "(%u%n)" %>
        </span>
      </div>
      <div
        class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2"
      >
        <%= form_with url: carts_path(id: product.id ), method: :post do |f| %>
          <fieldset>
            <% if logged_in? %>
              <%= f.hidden_field :quantily, value: 1, max: 10, min: Settings.carts.min_quantily %>
              <input
                type="submit"
                name="submit"
                value="Add to cart"
                class="button"/>
            <% else %>
              <input
                type="button"
                value="Add to cart"
                class="button"
                data-toggle="modal"
                data-target="#myModal"
            />
            <% end %>
          </fieldset>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
