<div class="banner-bootom-w3-agileits">
  <div class="container">
    <div class="col-md-4 single-right-left">
      <div class="grid images_3_of_2">
        <div class="flexslider">
          <ul class="slides">
            <% (1..3).each do |i| %>  
              <li data-thumb="<%= @product.product_images.first.image %>">
                <div class="thumb-image">
                  <%= image_tag @product.product_images.first.image %>
                </div>
              </li>
            <% end %>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-8 single-right-left simpleCart_shelfItem">
      <div class="mb-6">
        <h3><%= @product.name %></h3>
        <p><%= number_to_currency(@product.price, negative_format: "(%u%n)") %></p>   
        <%= render "ratings/form_rating" %>  
      </div>
      <div class="clearfix"></div>
      <div class="mt-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"><%= t "static_pages.name" %></th>
              <th scope="col"><%= t "static_pages.comment" %></th>
              <th scope="col"><%= t "static_pages.rating" %></th>
            </tr>
          </thead>
        <%= render @ratings.includes(:user) %>
        </table>
       <% if @ratings.present? %>
        <%== pagy_bootstrap_nav(@pagy) %>
       <% end %>
      </div>
    </div>
  </div>
</div>
